@import '../vars';
@import '../mixins';

.sensors {
  display: block;

  ul {
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
